//Paragraph Color
$p-color: #B0B0B0;
//Custom Red Color
$theme-red: #E4112F;
//Footer Paragraph Color
$footer-text-color: #7D7D7D;
//Custom Background Color
$bg-color: #1D1C21;
//Primary Font
$primary-font: 'Barlow Condensed', sans-serif;
//Secondary Font
$secondary-font: 'Montserrat', sans-serif;
//Border Color
$border-color: #333139;
$white: #ffffff;