// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .mb-6 {
        margin-bottom: 3rem;
    }

    .h1,.h2,.card .h1 {
        line-height: 4rem;
    }
    .h1{
        font-size: 3rem;
    }

    .h2 {
        font-size: 2.6rem;
    }

    .h1.txt-style {
        font-size: 2.4rem;
    }

    .h2.txt-style {
        font-size: 2.3rem;
    }

    .h3.txt-style {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .quote-p {
        font-size: 2rem;
    }

    .card .h1 {
        margin: 0;
    }

    .blockquote {
        padding: 3rem 5rem;
    }

    .faq-list {
        margin-left: 1.5rem !important;
    }

    footer {
        padding-top: 3rem !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size: 9.5px;
    }

    .meta-list {
        font-size: 1.6rem;
    }
}

@media (max-width: 767px) {
    .navbar {
        margin-bottom: 1.5rem;

        .navbar-brand {
            width: 13rem;
        }

        .navbar-collapse {
            text-align: center;

            .dropdown-menu {
                left: 43%;
            }

            .list-group {
                justify-content: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .custom-navbar {
        min-height: calc(100vh - 3rem);
        padding: 1rem 0 2rem;
        flex-direction: column;
        align-items: flex-start;

        .navbar-collapse {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            .navbar-nav {
                display: block;
            }

            .list-group {
                margin-left: -10px;
            }
        }
    }
}